div.page-content {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.large-margin {
    margin: 5vh 5vw;
}

div.card-spacer {
    margin-top: 20px;
}

div.page-heading {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
}

div.page-heading h1 {
    flex-shrink: 0;
}

div.flex-spacer {
  flex-grow: 1; /* takes all remaining space */
}